# The SWEBOK Guide v4.0 (IEEE Computer Society) is third-party copyrighted
# material and 5.9 MB — well over the repo's 500 KB per-file limit. It is the
# framework this appraisal applies, not an artefact of it; obtain it from the
# IEEE Computer Society rather than from this repository.
swebok-v4.pdf
